:root {
    --cor-fundo: #020202;
    --cor-texto-claro: #f0f0f0;
    --cor-destaque: #e50914; /* Vermelho/Sangue */
    --cor-secundaria: #303030;
    --cor-sombra: rgba(0, 0, 0, 0.7);
    --font-titulo: 'Metal Mania', cursive;
    --font-corpo: 'Roboto', sans-serif;
    --largura-filme: 220px;
}

.search-form {
    display: flex;
}

.search-form input {
    padding: 8px 12px;
    border: 1px solid var(--cor-destaque);
    background-color: transparent;
    color: var(--cor-texto-claro);
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-form button {
    padding: 8px 15px;
    background-color: var(--cor-destaque);
    border: none;
    color: var(--cor-fundo);
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    transition: background-color 0.3s;
}

.search-form button:hover {
    background-color: #ff3344;
}